<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @entry.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @entry.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @entry.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entry.email %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
